<html>
<head>
	<title>
		{%block titulo%}
		Base template
		{%endblock titulo%}
	</title>
	<style type="text/css">
	.error{
		background: red;
		width: 100%;
		color:white;
	}
	.success{
		background: green;
		width: 100%;
		color: white;
	}
	.enlinea li{
		display: inline-block;
		border: 1px solid black;
		background: blue;
		color:white;
		padding: 5px;
	}
		{%block estilos%}
		{%endblock estilos%}
	</style>
	{%block links%}
	{%endblock links%}
</head>
<body>
	{%if messages%}
	{%for message in messages%}
	<h5 class="{{message.tags}}">{{message}}</h5>
	{%endfor%}
	{%endif%}

<ul class="enlinea">
	{%if request.user.is_authenticated%}
	<a href="{%url 'profile'%}"><li>Tu perfil</li></a>
	<a href="{%url 'logout'%}"><li>Cerrar sesión</li></a>
	{%else%}
	<a href="{%url 'login'%}"><li>Iniciar sesión</li></a>
	{%endif%}
</ul>
	<h1>Blog Genial</h1>


{%block content%}
{%endblock content%}
</body>
</html>